/* General rules */
body{
    background-color: #ECEEF1;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

input {
    width: 99%;
    height: 15px;
    padding: 10px 0 10px 0;
    border: 1px solid #ECEEF1;
    border-radius: 1px;
}

button {
    color: white;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color: #0077C5;
}

a {
    text-decoration: none;
}

.fas {
    color: white;
}

img {
    height: 45%;
    width: 65%;
    margin: 0;
    padding: 0;
}


/* The header section */
header {
    display: flex;
    float: right;
}

/* Two lines near the sign in button */
.other-actions {
    margin: -23px 20px 0px 0px;
}

/* Forgot my password line */
.forgot-password {
    margin: -20px 0px 0px 0px;
}

/* The sign in button */
.sign-in-button {
    float: right;
    height: 30px;
    padding: 0 20px 0 20px;
}

.main {
    padding: 40px 0px 0px 0px;
}

/* section above the form */
.above-form {
    display: flex;
    flex-direction: column;
    padding: 2px 40% 2px 40%;
}

.product-logos {
    display: flex;
}

/* Enclosing form */
.form {
    display: flex;
    flex-direction: column;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    margin: 0% 35.4% 0% 35.4%;
    padding: 0px 10px 0px 10px;
    background-color: #fff;
}

.top-form {
    text-align: center;
}

.learn-more {
    margin: -17px 0px 10px 0px;
}

/* The fieldset inside the form tag */
.form-inputs {
    display: flex;
}

.call-rates > h6 {
    padding: 0;
    margin: 0;
}

#open-lock {
    height: 10%;
    width: 10%
    /* background-color: red; */
}

.password-field {
    background: url(images/lock.png)no-repeat 100%;
    background-size: 16px;
    padding-right: 5px;
}

fieldset {
    border: none;
}

/* Text under the form elements */
.form > p {
    padding: 0px 15px 0px 15px;
    text-align: center;
}

#captcha-section {
    padding: 10px ;
    margin: 0px -10px 0px -10px;
    width: inherit;
    background-color: #ECEEF1;
}

/* The footer section */
.footer {
    margin: 4% 30% 0% 30%;
}

footer > p {
    text-align: center;
}

@media only screen and (min-width: 400px) {
    .form {
        min-width: 80%;
        margin: 0% 25% 0% 25%;
        padding: 0px 10px 0px 10px;
    }
}